* {
  margin: 0;
  padding: 0;
}

body {
  background: #202124;
  color: #fff;
}

.outer-cont {
  max-width: 920px;
  margin: 0 auto;
}

.line-chart {
  height: 500px;
  width: auto;
  position: relative;
  left: 19px;
}

@media only screen and (max-width: 600px) {
  .line-chart {
    height: 300px;
  }
}

header {
  padding-top: 42px;
}

header a {
  margin: 0 auto 25px auto;
  position: relative;
  left: 2px;
}

header a,
header a img {
  width: 136px;
  display: block;
}

form label {
  color: #fff;
  display: none;
}

.intervals {
  margin: 0;
  display: flex;
}

.intervals button {
  cursor: pointer;
  color: #fff;
  padding: 8px 17px;
  background: #3c3e44;
  border: none;
  /*  border: 1px solid #6c757d;*/
}

.intervals button:hover,
.intervals button.active {
  background: #303136;
  /* border: 1px solid gold;*/
}

.selected-company p {
  margin: 0;
}

.selected-company > p:first-child {
  margin-bottom: 4px;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 7px 9px;
  font-size: 17px;
  border-radius: 4px;
  text-align: center;
}

.tooltip p {
  padding: 0;
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.loading-container img {
  display: block;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

.search-loading {
  padding: 15px 0;
}

.search-loading img {
  width: 24px;
}

.chart-loading {
  padding-top: 12px;
}

.chart-loading img {
  width: 56px;
}

.error {
  text-align: center;
  margin-top: 35px;
  font-size: 22px;
}

.search-cont {
  width: 293px;
  margin: 0 auto;
  text-align: center;
  /*background-color: green;*/
}

.search-cont form input {
  width: 100%;
  text-align: center;
}

.search-cont > div.search-results-cont {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  width: 299px;
}

.search-cont ul {
  list-style-type: none;
  padding-left: 0;
}

.search-cont ul li {
  cursor: pointer;
  margin: 0;
  padding: 11px 0;
}

.search-cont ul li:hover {
  /*  background-color: #3c3e44;*/
  background-color: #303136;
}

.search-cont p {
  padding: 12px 0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 830px) {
  .intervals-selected-company {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .selected-company {
    margin-bottom: 16px;
  }

  .selected-company p {
    text-align: center;
  }

  .intervals-cont {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 831px) {
  .intervals-selected-company {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    margin-bottom: 21px;
  }
}
