@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Mallanna&family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #202124;
  color: #fff;
  font-size: 16px;
}

.font-a {
  font-family: "Play", sans-serif;
  /*font-weight: 700;*/
  font-weight: 400;
  font-style: normal;
}

.font-b {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-c {
  font-family: "Mallanna", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outer-cont {
  max-width: 920px;
  margin: 0 auto;
}

.line-chart {
  height: 500px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .line-chart {
    height: 300px;
  }
}

header {
  padding-top: 58px;
}

header a {
  margin: 0 auto;
  position: relative;
  left: 3px;
}

header a,
header a img {
  width: 140px;
  display: block;
}

form label {
  color: #fff;
  display: none;
}

.intervals {
  margin: 0;
  display: flex;
}

.intervals > button:first-child {
  border-radius: 6px 0 0 6px;
}

.intervals > button:last-child {
  border-radius: 0 6px 6px 0;
}

.intervals button {
  cursor: pointer;
  color: #fff;
  padding: 10px 18px;
  background: #3c3e44;
  border: none;
  font-size: 14px;
  /*  border: 1px solid #6c757d;*/
}

.intervals button:hover,
.intervals button.active {
  background: #303136;
  /* border: 1px solid gold;*/
}

.gold,
.intervals button.active {
  color: gold;
}

.selected-company p {
  margin: 0;
}

.selected-company > p:first-child {
  margin-bottom: 4px;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.65);
  color: #ffffff;
  padding: 6px 9px;
  font-size: 17px;
  border-radius: 4px;
  text-align: center;
}

.tooltip p {
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.tooltip > p:last-child {
  color: gold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.loading-container img {
  display: block;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

.search-loading {
  padding: 12px 0;
}

.search-loading img {
  width: 26px;
}

.chart-loading {
  padding-top: 10px;
}

.chart-loading img {
  width: 58px;
}

.error {
  text-align: center;
  margin-top: 59px;
  font-size: 20px;
  color: gold;
}

.search-cont {
  width: 286px;
  margin: 28px auto 0;
  text-align: center;
}

.search-cont form input {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 2px 0;
  background: #3c3e44;
  border: 1px solid #3c3e44;
  color: #e6e6e6;
  outline-color: red;
  border-radius: 6px;
}

.search-cont form input:focus-visible {
  outline: none;
  border: 1px solid #54575f;
}

::placeholder {
  color: #e6e6e6;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #e6e6e6;
}

.search-cont > div.search-results-cont {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  width: 288px;
}

.search-cont ul {
  list-style-type: none;
  padding-left: 0;
}

.search-cont ul li {
  cursor: pointer;
  margin: 0;
  padding: 11px 11px;
}

.search-cont ul li:hover {
  /*  background-color: #3c3e44;*/
  background-color: #303136;
}

.search-cont p {
  padding: 12px 0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 830px) {
  .intervals-selected-company {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .selected-company {
    margin-bottom: 20px;
  }

  .selected-company p {
    text-align: center;
  }

  .intervals-cont {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 831px) {
  .intervals-selected-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 21px;
  }

  .line-chart {
    position: relative;
    left: 15px;
  }
}
